footer{
    background-color:#06521e;
}
.py-3{
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.my-4 {
    margin-top:20vh;
    margin-bottom:0rem;
    width: 800px;
    margin: 0 auto;
}
.pb-3 {
    padding-bottom:0rem!important;
}
.mb-3 {
    margin-bottom:0rem!important;
}
.justify-content-center {
    justify-content: center!important;
}
.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
}
.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.text-muted {
    --bs-text-opacity: 1;
    color: #ffff!important;
}
.px-2 {
    padding-right: 0.5rem!important;
    padding-left: 0.5rem!important;
}
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-weight: var(--bs-nav-link-font-weight);
    color: #ffff !important;
    font-size: 1.1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}